{% extends "base.html" %} {% block title %}ADD photo {% endblock title %}{% block content %} {% if request.user.is_authenticated %}
<div class="container ">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input type="text" class="form-control" name='name' id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Select a category</label>
            <select name="category" class="form-control" id="exampleFormControlInput1">
            <option value="none">Select a category ....</option>
            {% for category  in categories  %}
            <option value="{{category.id}}" > {{category.name}}</option>
              
            {% endfor %}
        </select>
        </div>
        <div class="mb-3">
            <label for="formFileSm" class="form-label">Upload Image</label>
            <input name='image' class="form-control form-control-sm" id="formFileSm" type="file" multiple>
        </div>
        <button type="submit" class="btn btn-success">Success</button>
    </form>

</div>
</div>
{% else %}
<h1 class="text-center text-danger">This section is only for Developers</h1>

{% endif %} {% endblock content %}